.usersPhoto {
    width: 80px;
    border-radius: 50%;
    background-color: grey;
}

.selectedPage {
    padding: 5px 10px;
    font-size: 2rem;
}

.selectedPage:hover {
    cursor: pointer;
}

.currentPage {
    font-weight: bold;
}