.header {
    grid-area: h;
    background-color: #005dab;
    border-radius: 5px;
    /* display: flex;
    align-items: center; */
    /* grid-template-columns: 1fr 1fr; */
}

.img {
    width: 55px;
    margin-left: 8px;
}

.img:hover {
    width: 58px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    float: right;
    padding: 16px;
}